{% extends 'base.html' %}

{% block content %}
    <h1>Movies Collection</h1>

    <h2>Adicionar Filme:</h2>
    <form action="/" method="post">
        <label for="title">Título</label>
        <input type="text" id="title" name="title" required>
        <label for="genre">Gênero</label>
        <input type="text" id="genre" name="genre" required>
        <button type="submit">Adicionar Filme</button>
    </form>
    <h2>Meus Filmes:</h2>
    <ul>
        {% for movie in movies %}
            <li>
                {{ movie['title'] }}
                <a href="/delete/{{ movie['id']}}"><i class="fa-regular fa-trash-can"></i></a>
                <a href="/update/{{ movie['id']}}"><i class="fa-regular fa-pen-to-square"></i></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}